<p id="notice"><%= notice %></p>
<h2> Order Details </h2>
<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Texbook:</strong>
  <%= @order.textbook.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @order.textbook.author %>
</p>

 
